.authPage {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authBox {
    height: auto;
    padding: 8px;
    width: 300px;
    border-radius: 6px;
    background-color: rgb(64, 66, 68);
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.575) 3px 3px 8px;
}

.formFieldDiv {
    text-align: left;
    padding: 8px;
}

.formField, .formButton {
    width: 98%;
    height: 2em;
    margin: 4px;
    border: 1px rgba(0, 0, 0, 0.24) solid;
    border-radius: 4px;
    background-color: rgb(50, 52, 54);
    color: white;
}

.formField:focus {
    outline-width: 0;
}

.formButton {
    width: 100%;
    height: 2.5em;
    border: none;
    background-color: rgb(50, 110, 165);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.116) 1px 1px 8px;
}

.formButton:active {
    background-color: rgb(60, 103, 146);
}