.homeGrid {
    height: 95vh;
    display: grid;
    grid-template-rows: 95% 5%;
}

.mainContent { 
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 0.5rem;
}

.footer {
    border-top: 1px solid lightgrey;
    width: 100%;
}
