.homeGrid {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: auto min-content;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    overflow-y: hidden;
}

.profileButton {
    position: absolute;
    top: .7rem;
    right: 1rem;
    z-index: 5;
    padding: .7rem;
}
.profileButton:disabled {
    display: none;
}