.player {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 1em;;
}

.center {
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.right {
    justify-self: right;
}

.centerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sliderContainer {
    margin: 0.5em;
    height: 10px;
    width: 100%;
}

.slider {
    align-self: center;
    border-radius: 6px;
}

.playerButton {
    margin-left: 0.5em;
    margin-right: 0.5em;
}