.playlist {
    height: 90vh;
    width: 100%;
    overflow: hidden scroll;
}

.playlistHeader {
    position: sticky;
    top: 0;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}