.playlist {
    height: 90vh;
    width: 100%;
    overflow: hidden scroll;
}

.playlistHeader {
    position: sticky;
    top: 0;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--backg);
    border-bottom: 1px solid lightgrey;
}

.playlist > img {
    max-height: 5rem;
    aspect-ratio: 1/1;
}