.searchComponent {
    height: 100%;
    overflow-y: scroll;
}

.searchHeader {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

.searchBar {
    margin: 0.7rem; 
}

.searchButton {
    
}