.searchComponent {
    height: 90vh;
    width: 100%;
    overflow: hidden scroll;
}

.searchHeader {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--backg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBar {
    margin: 0.7rem; 
}

.searchHeader img {
    height: 2.5rem;
    aspect-ratio: 1/1;
}