.sidebar {
    position: relative;
    height: inherit;
    width: 18rem;
    min-width: 11rem;
    max-width: 22rem;
    margin-top: 0.7rem;
    resize: horizontal;
    overflow: hidden;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    z-index: 10;
}

.siderbar::-webkit-resizer {
    background: red;
    border-right: 1px solid red;
}

.sidebarContainer {
    min-height: 14rem;
    overflow-y: auto;
}

.sidebarHeader {
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    background: var(--backg);
    text-align: center;
}

.sidebarHeader h3 {
    margin-top: .3rem;
    margin-bottom: .3rem;
    color: var(--textcol)
}

.sidebarList {
    width: 100%;
    min-height: 10rem;
    margin-top: 0.7rem;
    padding-top: 0.7rem;
    justify-self: flex-start;
}

.playlistButton, .sidebarHeader button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--textcol);
    background: var(--backg);
}

.sidebarHeader button {
    margin-bottom: 0.5rem;
}

.playlistButton {
    text-align: left;
}

.playlistButton:hover, .sidebarHeader button:hover {
    /*background: rgb(205, 236, 215);*/
    color: var(--hovcol);
}

.playlistButton:active, .sidebarHeader button:active {
    color:  var(--textcol);
}

.currentlyPlaying {
    width: 100%;
    margin-top: 0.7rem;
    display: inline-block;
}