.sidebar {
    height: 100%;
    width: 18rem;
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgrey;
}

.sidebarList {
    width: 100%;
    border-top: solid black 1px;
    margin-top: 0.7rem;
    padding-top: 0.7rem;
    overflow-y: scroll;
}

.playlistButton, .sidebarButton {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebarButton {
    margin-bottom: 0.5rem;
}

.playlistButton {
    text-align: left;
}

.playlistButton:hover, .sidebarButton:hover {
    /*background: rgb(205, 236, 215);*/
    color: grey;
}

.playlistButton:active, .sidebarButton:active {
    color: black;
}

.currentlyPlaying {
    width: 100%;
    margin-top: 0.7rem;
    display: block;
}