.trackList {
    height: 100%;
    padding-bottom: 1rem;
}

.track {
    height: 3rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nameAndImage {
    min-width: 5rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.trackImage {
    margin-right: 1rem;
    cursor: pointer;
}

.trackImage:disabled {
    filter: grayscale(100%);
}

.trackName {
    font-size: medium;
    cursor: pointer;
}   

.trackName:hover, .trackName:disabled {
    color: grey;
}

.trackArtist {
    cursor: pointer;
    font-size: small;
    color: rgb(59, 59, 59);
}

.trackArtist:hover {
    color: black;
}

.contextButton {
    cursor: pointer;
    background: none;
    border: none;
    margin: 1rem;
}

.buttonDot {
    background-color: rgb(99, 99, 99);
    border: none;
    height: 0.28rem;
    width: 0.28rem;
    border-radius: 50%;
    margin: 0.1rem;
}

.contextButton:hover > .buttonDot {
    background-color: rgb(41, 160, 57);
}