.trackList {
    height: 100%;
    padding-bottom: 1rem;
}

.trackList > ul {
    list-style-type: none;
}

.resultNo {
    margin: 1rem;
    color: grey;
    font-size: large;
    cursor: default;
}

.track {
    height: auto;
    padding: 0.5rem;
    padding-right: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.track:hover {
    background: rgba(207, 207, 207, 0.185);
}

.nameAndImage {
    min-width: 5rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.trackImage {
    height: 100%;
    margin-right: 1rem;
    cursor: pointer;
}

.trackImage:disabled {
    filter: grayscale(100%);
}

.trackName {
    font-size: medium;
    cursor: pointer;
}   

.trackName:hover, .trackName:disabled {
    color: grey;
}

.trackArtist {
    cursor: pointer;
    font-size: small;
    color: rgb(114, 114, 114);
}

.trackArtist:hover {
    color: black;
    text-decoration: underline;
}

.contextButton {
    cursor: pointer;
    background: none;
    border: none;
    margin: 1rem;
}

.contextButton input {
    opacity: 0;
    width: 0;
    height: 0;
}

.buttonDot {
    background-color: rgb(99, 99, 99);
    border: none;
    height: 0.28rem;
    width: 0.28rem;
    border-radius: 50%;
    margin: 0.1rem;
}

.contextButton:hover > .buttonDot {
    background-color: rgb(41, 160, 57);
}

input:checked ~ .buttonDot {
    display: none;
}

.dropdown {
    display: none;
}

input:checked + .dropdown {
    display: block;
    background: rgb(0, 0, 0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contextButton button {
    background: none;
    border: none;
    color: rgb(238, 238, 238);
    opacity: 1;
}

.contextButton button:hover {
    color: white;
    background-color: rgb(44, 44, 44);
}

.track > button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    opacity: 0;
    transition: .1s;
    -webkit-transition: .1s;
}

.track > button:hover {
    /*background: rgb(205, 236, 215);*/
    color: rgb(46, 173, 95);
}

.track > button:active {
    /*background: rgb(205, 236, 215);*/
    color: rgb(23, 100, 52);
}

.track:hover > button {
    opacity: 1;
}